body {
	font-family:'arial';
	font-size:18px;
	margin:6px;
	padding:0;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:inherit;
}

#IS_instructions {
	font-size:0.8em;
}

#IS_selection_holder {
	width:80%;
	border:1px solid #ccc;
	padding:3px;
	font-size:0.7em;
}

#IS_selection_popup {
	position:absolute;
	border:1px solid #999;
	padding:2px 10px;
	margin:0;
	display:none;
	background-color:#fff;
	font-size:0.65em;
}

#IS_submit {
	color:#fff;
	background-color:#00cbc0;
	padding:2px 6px;
	cursor:pointer;
	position:fixed;
	float:right;
	display:block;
	right:10px;
	font-size:0.65em;
}

#IS_selection_popup a {
	color:#fff;
	background-color:#999;
	padding:1px 3px;
	cursor:pointer;
}

#IS_selection_holder .IS_label {
	background-color:#cb008a;
	color:#fff;
	padding:0 3px;
}