body {
	font-family:'arial';
	font-size:18px;
	margin:6px;
	padding:0;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:inherit;
}

.IS_instructions {
	font-weight:bold;
}

#IS_step_config {
	display:none;
	font-size:0.7em;
}

#IS_step_config textarea {
	width:96%;
	height:80px;
}

#IS_step_portions {
	display:block;
	font-size:0.7em;
}

#IS_selection_holder {
	width:80%;
	border:1px solid #ccc;
	padding:3px;
	font-size:0.95em;
}

#IS_selection_popup {
	position:absolute;
	border:1px solid #999;
	padding:2px 10px;
	margin:0;
	display:none;
	background-color:#fff;
	font-size:0.85em;
}

#IS_submit_portions, #IS_submit_config {
	color:#fff;
	background-color:#00cbc0;
	padding:2px 6px;
	cursor:pointer;
}

#IS_submit_portions {
	position:fixed;
	float:right;
	right:10px;
	display:block;
}

#IS_submit_config {
	position:absolute;
	bottom:10px;
}

#IS_selection_popup a {
	color:#fff;
	background-color:#999;
	padding:1px 3px;
	cursor:pointer;
}

#IS_selection_holder .IS_fuzzed {
	background-color:#8d8d8d;
	color:#fff;
	padding:0 3px;

}

#IS_selection_holder .IS_label {
	background-color:#cb008a;
	color:#fff;
	padding:0 3px;
}