<!doctype html>
<html>
<head>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/mustache.js"></script>
	<script type="text/javascript" src="/js/tab_nav.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/minx_browser.css" />
</head>

<body>
	<p>This is your template.  Select the portions in the template that contain data, and label them in a way that makes sense for the data set you're building.  Labels should be lowercase, alphanumeric, and should not contain spaces or special characters.</p>
	<ul id="IS_selection_holder"></ul>
	<div id="IS_selection_popup">
		<p>label: <input type="text" /> <a id="IS_label_setter">OK</a></p>
	</div>
</body>
</html>
