<!doctype html>
<html>
<head>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/mustache.js"></script>
	<script type="text/javascript" src="/js/tab_nav.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/minx_browser.css" />
</head>

<body>
	<p>This is your template.  Select the portions in the template that contain data, and label them as either a <i>value</i> or as a <i>unit of measurement</i>.</p>
	<ul id="IS_selection_holder"></ul>
</body>
</html>
