<!doctype html>
<html>
<head>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/mustache.js"></script>
	<script type="text/javascript" src="/js/options.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/minx_browser.css" />
	<title>MinxScraper</title>
</head>

<body>
	<h1>MinxScraper Options</h1>
	<ul>
		<li>
			<h2>Manage My Scrapers</h2>
			<div class="IS_option_panel" id="IS_scrapers_holder"></div>
		</li>
		<li>
			<h2>Manage Sync Spots</h2>
			<div class="IS_option_panel" id="IS_sync_spots_holder"></div>
		</li>
	</ul>
</body>
</html